<div class="border h-100">
    <div class="d-flex flex-column p-3 border">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h4 class="text-primary">Companies</h4>
            <span class="bi bi-plus-circle text-primary" (click)="onAddCompany()"></span>
        </div>
        <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchInput">
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center"
                *ngFor="let company of companyList | search: searchInput">
                <div class="d-flex flex-grow-1 align-items-center me-3" (click)="onEditCompany(company)">
                    <span
                        class="companylogo text-white bg-primary d-flex align-items-center justify-content-center">{{company.companyName
                        | nameLogoPipe}}</span>
                    <span class="ms-3 text-nowrap">{{company.companyName}}</span>
                    <div class="logo-wrapper ms-3">
                        <img class="w-100 h-100" [src]="company.companyLogo">
                    </div>
                </div>
                <span class="bi bi-x-square" (click)="onDeleteCompany(company.id)"></span>

            </li>
        </ul>
    </div>
</div>