<div class="border h-100">
    <div class="d-flex flex-column p-3 border">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h4 class="text-primary">Companies</h4>
            <span class="bi bi-plus-circle text-primary" (click)="onAddCompany()"></span>
        </div>
        <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchInput">
    </div>
    <div>
        <ul class="list-group" *ngIf="companyList | search:searchInput as filteredData">
            <li class="list-group-item d-flex align-items-center" *ngFor="let company of filteredData">
                <div class="d-flex flex-grow-1 align-items-center me-3" (click)="onEditCompany(company)">
                    <span
                        class="companylogo text-white bg-primary d-flex align-items-center justify-content-center">{{company.companyName
                        | nameLogoPipe}}</span>
                    <div class="ms-3 d-flex flex-column">
                        <span class="text-nowrap">{{company.companyName}}</span>
                        <p class="description" [title]="company.companyDescription">{{company.companyDescription}}</p>
                    </div>
                </div>
                <span class="bi bi-x-square" (click)="onDeleteCompany(company.id)"></span>
            </li>
            <div *ngIf="filteredData.length == 0" class="text-center text-danger">Data Not Found</div>
        </ul>
    </div>
</div>