.bi-plus-circle{
    font-size: 30px;
    color:gray;
    cursor: pointer;
}
.bi-x-square{
    font-size: 25px;
    color: red;
    cursor: pointer;
}
.companylogo{
    height:40px;
    width:40px;
    border-radius: 50%;
}
.description{
    width:100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}